[user]
	name = neoahmed
	email = neoahmed@proton.me
[alias]
	graph = log --graph --decorate
	patch = apply --reject --whitespace=fix --unidiff-zero
	gen-patch = format-patch -u --stdout
	sync = !sh -c \"git add . && git commit -m \\\"$(date +%Y-%m-%d\\ %H:%M:%S)\\\" && git push\"
